main {
  font-family: 'Roboto';
}

header {
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #040404;
}

#topbar-mobile,
#menu-mobile {
  display: none;
}

#topbar-desktop {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  list-style-type: none;
}

#topbar-desktop li {
  padding: 0px 10px;
}

#topbar-desktop li a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #ffd18d;
}

#logo-otterwise-pets {
  padding-top: 1%;
  padding-left: 3%;
}

#banner {
  display: flex;
  padding: 0px 62.5px;
  justify-content: space-around;
  align-items: center;
  background-color: #040404;
}

#banner img {
  align-self: flex-end;
  padding: 0px 32.5px;
}

#banner div {
  padding: 0px 32.5px;
}

#gallery {
  padding: 2% 4%;
  background-color: #e6bc7e;
}

#gallery div {
  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-wrap: nowrap;
}

#gallery div img {
  margin: 40px 2%;
}

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 54px;

  color: #e6bc7e;

  border: 1px solid #000000;
}

p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #bf9d69;

  border: 1px solid #040404;
}

#section-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #403423;
  min-height: 500px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin: 36px 40%;
  padding: 40px 25px 22px 25px;
  background-color: #ffffff;
  border-radius: 10px;
  min-width: 330px;
  min-height: 427px;
}

form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

form div label {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 7px;
  /* identical to box height */

  color: #403423;
}

input,
textarea {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #000;
  padding: 8px 17px;
}

input:focus,
textarea:focus {
  border: 1px solid #bf9d69;
}

input {
  height: 30px;
}

textarea {
  height: 80px;
  display: inline-table;
}

#btn-submit {
  background: #bf9d69;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

#btn-submit:hover {
  background: #403423;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6bc7e;
  min-height: 80px;
}

footer p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #403423;
  border: none;
}

@media (max-width: 360px) {
  #banner {
    padding: 0;
  }

  #banner div {
    padding: 80px 20px 60px 20px;
  }

  #banner img {
    display: none;
  }

  h1 {
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }

  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    color: #bf9d69;

    border: 1px solid #040404;
  }

  header {
    max-height: 75px;
    padding: 11px 30px;
    justify-content: space-between;
  }

  header img {
    width: 53px;
    height: 53px;
  }

  #gallery {
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: #bf9d69;
  }

  #gallery div {
    flex-wrap: wrap-reverse;
  }

  #topbar-desktop {
    display: none;
  }

  #topbar-mobile {
    display: flex;
    color: #bf9d69;
    padding: 30px 10px;
  }

  #menu-mobile {
    display: none;
  }

  #menu-mobile a {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #ffd18d;
  }

  #menu-mobile ul {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    flex-direction: column;
    align-items: center;
    padding: 32.5px;
    z-index: 100;
  }

  #menu-mobile li {
    padding: 32.5px;
  }

  #menu-mobile.active {
    display: flex;
    width: 100%;
  }

  #logo-otterwise-pets {
    padding: 5px 0px;
  }

  form {
    margin: 43px 15px 38px 15px;
  }
}
